h4 {
  margin-top: 25px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

/*[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fp-gallery-image {
  /*height: 100px;*/
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;

  background-size: cover;
  /*background-position:center center;*/
  background-repeat:no-repeat;
}

.square {
    float: left;
    position: relative;
    width: 10%;
    padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
}

.fp-gallery-section {
  padding-bottom: 35px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.modal-body .js-upload-finished {
  display: none;
}

.modal-body .progress {
  display: none;
}